* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  margin: 0 20px;
  display: flex;
  z-index: 1000;
}
.nav__element {
  list-style: none;
  padding: 15px 30px;
}
.nav__element a {
  color: rgb(189, 189, 189);
  text-decoration: none;
  transition: all 0.2s;
}
.nav__element a:hover {
  color: white;
}

.btn {
  text-align: center;
  background-color: #000;
  color: #fff;
  max-width: 300px;
  border: none;
  border-radius: 50px;
  outline: 2px solid black;
  padding: 20px 30px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.3s;
}
.btn--banner {
  position: relative;
  top: 150px;
  border: 2px solid white;
}
.btn:hover {
  text-align: center;
  background-color: #fff;
  color: #000;
  max-width: 300px;
  border: none;
  border-radius: 50px;
  outline: 2px solid black;
  padding: 20px 30px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bolder;
  border: 2px solid black;
}
.btn--normal {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.568);
  color: #000;
  max-width: 300px;
  border: none;
  border-radius: 50px;
  outline: 2px solid black;
  padding: 20px 30px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bolder;
  outline: 1px solid white;
}
.btn--normal:hover {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgba(36, 36, 36, 0.568);
  max-width: 300px;
  border: none;
  border-radius: 50px;
  outline: 2px solid black;
  padding: 20px 30px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bolder;
  box-shadow: 2px 2px 3px black;
  outline: 1px invert black;
}
.btn--green {
  text-align: center;
  background-color: rgb(132, 241, 132);
  color: #000;
  max-width: 300px;
  border: none;
  border-radius: 50px;
  outline: 2px solid black;
  padding: 20px 30px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bolder;
}
.btn--green:hover {
  text-align: center;
  background-color: rgb(37, 94, 44);
  color: rgb(255, 255, 255);
  max-width: 300px;
  border: none;
  border-radius: 50px;
  outline: 2px solid black;
  padding: 20px 30px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bolder;
  box-shadow: 2px 2px 3px black;
}

.container__btn {
  width: 100%;
  margin: auto;
  text-align: center;
}

.header {
  position: relative;
  height: 100vh;
}
.header__nav {
  backdrop-filter: blur(8px);
  z-index: 100;
  position: sticky;
  top: 0;
  height: 45px;
  padding: 0 10px;
  background-color: rgba(59, 59, 59, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(189, 189, 189);
  font-size: 0.8em;
}
.header__nav > :hover {
  color: white;
}
.header__nav .nav--responsive {
  display: none;
}

.ad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.ad__logo {
  z-index: -1;
  width: 150px;
  filter: grayscale(100%);
  margin: 0 20px;
}
.ad__text {
  max-width: 700px;
  color: rgb(85, 176, 250);
  text-decoration: none;
  transition: all 0.2s;
}
.ad__text:hover {
  text-decoration: underline;
}

.header__banner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("/public/img/bg-header.png");
  background-position: center;
  background-size: cover;
  height: 90%;
  display: flex;
  align-items: center;
}
.header__banner .header__text {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  width: 80%;
  margin: auto;
  filter: brightness(600%);
  color: white;
}
.header__banner .header__text h2 i {
  padding: 0 10px;
}

.post {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.post .post__section {
  width: 50%;
}
.post .post__title {
  font-size: 2.6em;
}
.post .post__img {
  width: 60%;
  margin: 10px auto;
}
.post .post__text {
  display: flex;
  justify-content: space-evenly;
}
.post .post__text .post__description {
  max-width: 300px;
}
.post .post__text .post__button {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.post--full {
  text-align: center;
  padding: 20px 0;
  background-color: #F5F5F7;
}
.post--full .post__title {
  text-align: center;
  padding: 20px;
  font-size: 3em;
}
.post--full .post__title--footer {
  padding: 20px;
  font-size: 3em;
  color: white;
}
.post--full .post__img {
  width: 100%;
}
.post--full .post__description--full {
  position: relative;
  bottom: 60px;
  color: white;
  font-size: 1.3em;
  width: 70%;
  margin: auto;
}
.post--full--footer {
  background-color: #000;
}
.post--full .post__button--full {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 30%;
  margin: auto;
}
.post--full .post__button--full .btn {
  color: white;
}
.post--full .post__button--full .btn:hover {
  color: #000;
}

@media (max-width: 844px) {
  .btn--banner {
    top: 40px;
  }
}
@media (max-width: 1080px) {
  .header__nav {
    justify-content: space-between;
    font-size: 1.3em;
  }
  .header__nav .nav {
    display: none;
  }
  .header__nav .nav--responsive {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
