@mixin btn($bg,$color,$bold) {
    text-align: center;
    background-color: $bg;
    color: $color;
    max-width: 300px;
    border: none;
    border-radius: 50px;
    outline: 2px solid black;
    padding: 20px 30px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8em;
    cursor: pointer;
    transition: all 0.3s;
    @if ($bold=='true') {
        font-weight: bolder;
    }

    
    
}